Flask
pandas
flask
flask-sqlalchemy
flask-cors
scikit-learn
tqdm
flask-jwt-extended
flask-cors
python-dotenv
celery
redis
flasgger
flask-socketio
boto3
xgboost
gunicorn
torch==2.4.0
torchaudio==2.4.0
torchvision==0.19.0

# Use the PyTorch CPU wheel index
--extra-index-url https://download.pytorch.org/whl/cpu

# modAL from GitHub
modal
transformers